.artist-info {
	padding-bottom: 20px;
	overflow: hidden;
	&.short {
		padding-top: 20px;
		border-top: 1px solid #dbdfe4;
	}
	> a {
		margin-right: 20px;
		overflow: hidden;
		float: left;
	}
	img {
		background: #eee;
	}
}

.artist-info__image--small {
	width: 174px;
	height: 174px;
}

.artist-info__image--medium {
	width: 100%;
	max-width: 300px;
	height: auto;
}

.artist-info-controls {
	display: flex;
	flex-direction: row;
	width: 100%;
	background: #e1e7ed;
	height: 26px;
	border: 1px solid #c3cbd4;
	> li {
		flex-grow: 1;
		height: 100%;
		border-right: 1px solid #c3cbd4;
		transition: all .1s;
		&:last-child {
			border: 0;
		}
		&:hover a {
			background: white;
		}
	}
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #4d6ca0;
		width: 100%;
		height: 100%;
		text-align: center;
		&.active {
			background: #fdfdfd;
		}
	}
}