@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500&subset=cyrillic');

@import "reset";
@import "sidebar";
@import "nav";
@import "loader";
@import "station-item";
@import "station-page";
@import "artist-info";
@import "sounrd-track";
@import "youtube-tracks";
@import "albums";
@import "photo";

* {
	outline: none;
	box-sizing: border-box;
}

html,
body,
#app,
#wrapper {
	height: 100%;
}

body {
	font-family: 'Fira Sans Condensed', sans-serif;
	color: #345;
	font-size: 15px;
	background: #e1e7ed;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	font-weight: bold;
	color: #656c7a;
}

h1 {
	font-size: 26px;
	margin-bottom: 20px;
}

h2 {
	font-size: 22px;
	margin-bottom: 18px;
}

h3 {
	font-size: 18px;
	margin-bottom: 18px;
}

#app {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	border-left: 1px solid #c3cbd4;
	border-right: 1px solid #c3cbd4;
}

#wrapper {
	display: flex;
	flex-direction: column;
}

#container {
	display: flex;
	flex-direction: row;
	align-content: center;
	flex-grow: 1;
}

#content {
	flex-grow: 1;
	max-width: 960px;
	padding: 20px 25px 0;
	background: white;
	overflow: hidden;
	> section {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.scroll {
		overflow-y: auto;
		margin-top: 20px;
		overflow-x: hidden;
	}
}

ul.list-items-horizontal > li {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	font-size: 14px;
}

#audio {
	width: 100%;
	height: 100%;
}

#playerWrapper {
	width: 100%;
	border-top: 1px solid #c3cbd4;
	height: 33px;
	min-height: 33px;
	top: 0;
	left: 0;
	position: relative;
	overflow: hidden;
}

#soundCloudPlayerWrapper {
	width: 100%;
	border-top: 1px solid #c3cbd4;
	background: whitesmoke;
	height: 120px;
	min-height: 120px;
	top: 0;
	left: 0;
	position: relative;
	overflow: hidden;
}

#playerWrapper:before {
	content: "";
	display: none;
	width: 100%;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

#disqus_thread {
	border-top: 1px solid #dbdfe4;
	margin-left: -25px;
	margin-right: -25px;
	padding: 10px 25px 15px;
	background: #fdfdfd;
}