#sidebar {
	max-width: 250px;
	background: #fdfdfd;
	width: 100%;
	padding: 15px 20px;
	border-right: 1px solid #dbdfe4;
	> b {
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 10px;
		display: block;
		color: #656c7a;
	}
}

ul.sidebar-list {
	clear: both;
	float: none;
	overflow: hidden;
	margin-bottom: 20px;
	> li {
		float: left;
		margin-right: 12px;
		font-size: 14px;
		line-height: 20px;
		> a {
			color: #567;
		}
	}
}